@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar on Webkit browsers */
}

.custom-scrollbar {
    -ms-overflow-style: none; /* Hide the scrollbar on IE and Edge */
    scrollbar-width: none; /* Hide the scrollbar on Firefox */
}